<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img id="photo"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
          socket.emit('message', {data: 'I\'m connected!'});
        });

        var ctx = document.getElementById('my-canvas').getContext('2d');

        socket.on("image", function(info) {
          if (info.image) {
            var arrayBufferView = new Uint8Array( info.buffer );
            var blob = new Blob( [ arrayBufferView ], { type: "image/jpeg" } );
            var reader = new FileReader();
            reader.onload = () => {
              var dataURL = reader.result;
              document.querySelector("#photo").src = dataURL
            }
            reader.readAsDataURL(blob);
          }
        });
    </script>
    </script>
  </body>
</html>